.banner-section{
    width: 100%;
    height: 70vh;
    margin-top: var(--r80);
}
.banner-container{
    display: flex;
    justify-content: center;    
}
.overlay-container{
    display: none;
}
.banner-desc-wrap{
    height: 70vh;
    max-width: 400px;
    display: flex;        
}
.banner-desc-wrap p{
    align-self: flex-end;
}
@media (max-width: 480px) {
    .banner-section, .banner-desc-wrap{
        height:100%
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .overlay-container {
        background-color: var(--accent);
        width: 80px;
        height: 80px;
        display: flex;
        margin-right: auto;
        align-items: flex-start;
        margin-bottom: var(--r30);
    }
    .overlay-container p {
        margin-top: var(--r16);
        margin-left: 30px;
    }
    .banner-desc-wrap{
        max-width: 100%;
    }
    .banner-title-wrap h1{
        display: none;
    }
}