/* Masthead */
.mast-section_container{
    width: 100%;
    height: 100%;
    z-index: 10;
}
.mast-section_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mast-section_image-container{
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;

}
.masthead-image{
    width: 100%;
    z-index: 10;
}
.masthead-image-vector{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 90%;
}
.masthead-section_content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;    
}
.masthead-section_content-wrapper{
    /* position: absolute;
    top: -84px; */
}
.masthead-section_content-container h1{
    margin-bottom: var(--r64);
    max-width: 100%;
    text-align: start;  
}
.masthead-section_date-container{
    width: 100%;
}
.masthead-section_date-container hr, .masthead-section_cta-container hr, .article-content hr{
    border-bottom: solid var(--bg200) 1px; 
}
.masthead-section_para-container p{
    width: 100%;
    max-width: 600px;
    padding-top: var(--r16);
    padding-bottom: var(--r48);
}
.masthead-section_cta-link, .article_content_cta-link, .category_content_cta-link{
    display: flex;
    justify-content: space-between; 
}
.masthead-section_cta-link svg path, .article_content_cta-link svg path, .category_content_cta-link svg path{
    stroke: var(--accent);
}
.masthead-section_category-container{
    background-color: var(--accent);
    width: 180px;
    height: 180px; 
    display: flex;
    margin-right: auto;
    align-items: center;
    position: absolute;
    top: 10%;
    left: -45%;
}
.masthead-section_category-container h2 {
    margin-left: var(--r72);
}

/* Articles */
.articles_section{
    padding: var(--r48) 0px;
}
.articles_section h2{
    padding: var(--r48) 0px;
}
.articles_col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}
.article_container{
    display: flex;
    align-items: flex-end;
    column-gap: 2rem;
    max-width: 768px;

}

.article_image-wrapper{
    width: 100%;
    max-width: 200px;
    height: 100%;
    object-fit: contain;
}
.pagination_container{
    display: block;
    width: 100%;
    padding-top: var(--r30);
    padding-bottom: var(--r30);
}
.pagination_container{    
    border-bottom: solid var(--bg200) 1px;
}
body.dark .pagination_container{
    border-bottom: solid var(--bg100) 1px;
}
.pagination_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-btn-p, .navigation-btn-n{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}
.navigation-btn-p svg{
    transform: rotate(180deg);
}
.pagenum_container{
    display:flex;
    flex-wrap: wrap;
   gap: 1rem;
}
.pagenum_btn{
    width: 2rem;
    text-align: center;
    cursor: pointer;
}
.pagenum_btn {
    border: solid var(--bg400) 1px;
}
.pagenum_btn:hover{
    background-color: var(--bg200);
    transition: all 0.2s ease-out;
    color: var(--text100);
}
.pagenum_btn.active {
    border: none;
    background-color: var(--bg200);
    color: var(--text100);
    font-weight: bold;
    transform: scale(1.2);
}
body.dark .pagenum_btn{
    border: solid var(--bg50) 1px;    
}
body.dark .pagenum_btn.active {
    border: none;
    background-color: var(--bg100);
    color: var(--text200);
    font-weight: bold;
    transform: scale(1.2);
}
body.dark .pagenum_btn:hover {
    background-color: var(--bg100);
    color: var(--text200);
    transition: all 0.2s ease-out;
}
.categories_col{
}
.category_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}
.category_btn{
    background: var(--accent);
    padding: 1px 8px;
    color: var(--text200);
}
.category_image-wrapper {
    width: 100%;
    max-width: 120px;
    height: 100%;
    object-fit: contain;
}
.category_content-wrapper{
    max-width: 380px;
}
.mob-category_lable{
    display: none;
}

/* About */
.about_section{
    padding-top: var(--r72);
    padding-bottom: var(--r72);
}
.about_section-container{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}
.about_section-area1{
    background-color: var(--accent);
    width: calc(100% * 0.32);
    height: 400px;
    position: relative;
}
.about_section-title{
    padding-left: var(--r72);
    position: absolute;
    bottom: 0;
    color: var(--text200);
}
.about_section_img{
    position: absolute;
    top: -80px;
    right: -60px;
    width: 468px;
}
.about_section-area2{
    background-color: var(--bg400);
    width: calc(100% * 0.32);
    height: 400px; 
}
body.dark .about_section-area2{
    background-color: var(--bg300);
}
.about_content{
    padding: var(--r64) var(--r48);
    color: var(--text100);
}
.about_content h3{
    padding-bottom: var(--r48);
}

/* Newsletter */
.newsletter_section{
    border-top: solid var(--bg200) 1px;
    border-bottom: solid var(--bg200) 1px;
}
body.dark .newsletter_section {
    border-top: solid var(--bg100) 1px;
    border-bottom: solid var(--bg100) 1px;
}
.newsletter_section-container{
    padding: var(--r64) var(--r16);
    display: flex;
    justify-content: space-between;
}
.newsletter_section-area1{
    position: relative;
}
.bg{
    background-color: var(--accent);
    width: 280px;
    height: 240px;
    position: absolute;
    top:36px;
    left:90px;
    z-index: -2;
}
.newsletter_section-area2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}
.newsletter_input{
    display: flex;
    align-items: center;
}
.newsletter_input input{
    padding: calc(var(--r16) * 0.5);
}
.newsletter_input input {
    background-color: var(--bg100);
    border: thin solid var(--bg200);
    
}
body.dark .newsletter_input input{
    background-color: var(--bg200);
    border: thin solid var(--bg100);   
}
.newsletter_submit-btn{
    padding: calc(var(--r16) * 0.739) calc(var(--r16)* 1.5);
}
.newsletter_submit-btn {
    background-color: var(--bg200);    
}

body.dark .newsletter_submit-btn{
    background-color: var(--bg100);   
}
.newsletter_submit-btn svg path {
    fill: var(--bg100);
}

body.dark .newsletter_submit-btn svg path {
    fill: var(--bg200);
}
@media (max-width: 768px) {
    .mast-section_wrapper{
        grid-template-columns: 1fr;
    }
    .mast-section_image-container {
        position: relative;
        /* overflow: hidden; */
        width: auto;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    .mast-section_image-container .masthead-image-vector{
        width: 100%;
        border-bottom: solid var(--bg200) 1px;
    }
    body.dark .mast-section_image-container .masthead-image-vector {        
        border-bottom: solid var(--bg100) 1px;
    }  
    .masthead-section_content-container h1 {
        margin-bottom: var(--r16);      
    }
    .masthead-section_category-container { 
        position: unset;     
        background-color: var(--accent);
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;   
        margin-top: var(--r30);
        margin-bottom: var(--r48); 
        margin-right: auto;
    }  
    .articles_section {
        padding-top: var(--r100);       
    }
    .articles_col{
        width: 100%;
    }    
    .pagination_wrapper{
    column-gap: 1rem;
    }
    .pagenum_btn:nth-child(4), .pagenum_btn:nth-child(5), .pagenum_btn:nth-child(6), .pagenum_btn:nth-child(7){
        display: none;
    }    
    .categories_col{
        width: 100%;
        padding-top: var(--r64);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-bottom: var(--r48);
        border-bottom: thin var(--bg200) solid;
    }  
    body.dark .categories_col{
        border-bottom: thin var(--bg100) solid;
    }
    .articles_section-container{
        flex-direction: column;
    }
    .article_container {     
        column-gap: 2rem;
        max-width: max-content;
        align-items: center;
    }
    .article_content-wrapper{
        max-width: 200px;
        height: 200px;
    }
    .navigation-btn-p svg,
    .navigation-btn-n svg {
        width: 40px;
    }
    .category_container .flex{
        display: none;
    }
    .mob-category_lable{
        display: block;
        padding: var(--r64) 0px;
    }
    .about_section-container {
        flex-direction: column;
        padding-top: var(--r64);
    }
    .about_section-area1 {
        background-color: var(--accent);
        width: calc(100% * 0.52);
        height: 150px;
        position: relative;
    }
    .about_section-area2 {
        width: 100%;
        height: 100%;
    }
    .newsletter_section-container {
        flex-direction: column;
    }
    .bg{
        top: 0;
        left: 0;
        width: 100%;
        height: 240px;
    }
    .newsletter_input input {
        padding: calc(var(--r16) * 0.5) 10px;
        width: 80%;
    }
    .newsletter_submit-btn{
            padding: calc(var(--r16) * 0.739) calc(var(--r16)* 1.5);
    }
}