.banner-section {
  width: 100%;
  height: 100%;
  padding-top: var(--r100);
  padding-bottom: var(--r80);
  display: flex;
  justify-content: flex-end;
}
.banner-section {
  border-bottom: var(--bg300) 1px solid;
}
.banner-container {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.banner-desc p {
  line-height: 2.28;
}
body.dark .banner-section {
  border-bottom: var(--bg100) 1px solid;
}
.tag_ad-column {
  /* margin-top: var(--r16); */
  display: flex;
  flex-direction: column;
}
.ad-area {
  margin-top: var(--r72);
}
.overlay-container {
  background-color: var(--accent);
  width: 120px;
  height: 120px;
  display: flex;
  margin-right: auto;
  align-items: flex-start;
  margin-bottom: var(--r30);
}

.overlay-container p {
  margin-top: var(--r16);
  margin-left: var(--r30);
  white-space: nowrap;
}
.other_articles-section {
  margin-top: var(--r72);
  margin-bottom: var(--r72);
}
.other_articles-column {
  margin-top: var(--r80);
}
.other_articles-scroll-area {
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
  margin-top: var(--r30);
  column-gap: 2rem;
}

.other_articles-scroll-area::-webkit-scrollbar {
  display: none;
}

.other_articles-scroll-area {
  padding: var(--r30) var(--r16);
  flex-wrap: nowrap;
}

.other_article-column {
  height: 100%;
}
.other_article-post {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.other_article-banner {
  width: 100%;
  height: 200px;
}
.other_article-banner {
  background: var(--bg250);
}

body.dark .other_article-banner {
  background: var(--bg350);
}
.other_article-heading {
  margin-top: var(--r16);
  margin-bottom: var(--r16);
}
.other_article-para {
  margin-top: var(--r16);
  margin-bottom: var(--r16);
}

.other_article-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--r16);
  padding-bottom: var(--r16);
}

.other_article-link {
  border-bottom: 1px solid var(--bg300);
}

body.dark .other_article-link {
  border-bottom: 1px solid var(--bg100);
}
.other_article-link > svg > path {
  stroke: var(--accent);
}
body.dark .other_article-link > svg > path {
  stroke: var(--accent);
}
.other_article-see-more {
  width: 100%;
  margin-top: var(--r16);
}
.other_article-see-more {
  border-bottom: 1px solid var(--bg300);
}

body.dark .other_article-see-more {
  border-bottom: 1px solid var(--bg100);
}
.brand-section {
  padding-top: var(--r48);
  padding-bottom: var(--r100);
}
.brand-section {
  border-bottom: 1px solid var(--bg300);
}

body.dark .brand-section {
  border-bottom: 1px solid var(--bg100);
}
.brand-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.brand-assets {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: var(--r48);
  column-gap: var(--r48);
  place-items: center center;
}
.brand-card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}
.brand-card-wrapper {
  background-color: var(--bg600);
}
.brand-card-wrapper > svg > path {
  fill: var(--bg300);
  stroke: var(--bg100);
}
body.dark .brand-card-wrapper > svg > path {
  fill: var(--bg100);
  stroke: var(--bg300);
}
body.dark .brand-card-wrapper {
  background-color: var(--bg400);
}
@media (max-width: 480px) {
  .banner-section {
    border-bottom: 0;
  }
  body.dark .banner-section {
    border-bottom: 0;
  }
  .overlay-container {
    margin-bottom: 0;
    width: 80px;
    height: 80px;
  }
  .overlay-container p {
    margin-top: 18px;
    margin-left: 40px;
    white-space: unset;
  }
  .ad-area {
    display: none;
  }
  .other_articles-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--r30);
  }
  .other_articles-column {
    margin-top: var(--r16);
  }
  .other_articles-column {
    border-top: 0;
    width: 100%;
  }

  body.dark .other_articles-column {
    border-top: 0;
  }
  .other_articles-scroll-area {
    height: 80vh;
    width: 100%;
  }
  .other_article-banner {
    width: 100%;
    height: 200px;
  }
  .other_article-column {
    width: 80%;
  }
  .brand-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: var(--r48);
    column-gap: 0;
    margin-top: var(--r30);
  }
  .brand-card-wrapper {
    width: 100%;
  }
}
