.overlay-container {
  background-color: var(--accent);
  width: 140px;
  height: 140px;
  display: flex;
  margin-right: auto;
  align-items: flex-start;
  margin-bottom: var(--r30);
}

.overlay-container p {
  margin-top: var(--r16);
  margin-left: var(--r16);
}
@media (max-width: 480px) {
  .overlay-container p {
    margin-top: var(--r64);
    margin-left: 80px;
  }
}
