.stories_slider_container{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;  
  overflow: hidden ;
  margin-top: var(--r16);
}

.swiper {
  width: 500px;
  height: 400px; 
  position: absolute;
  right: -60px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 300px;
  position: relative;
}
.slider_nav-container{
    width: 500px;
    height: 400px;
    position: absolute;
    right: -90px;
    top: 120px;
    display: flex;   
    column-gap: 220px;    
    z-index: 100;

}
.slider_nav_next-btn{
  transform: rotateY(180deg);
}
.story-card{
    width: 100%;
    height: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story-desc{
    width: 100%;  
    padding: 0 var(--r16);
    color: var(--text100);
    pointer-events: none;
    
}
.story_date-container{
  position: absolute;
  bottom: 0;
  width: 90%;
  padding-bottom: var(--r48);
}
.story_date-container hr{
  border-bottom: solid var(--bg100) 2px; 
}
.story_cta-link{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.story_cta-link > svg path{
  stroke: var(--accent);
}
body.dark .story_cta-link > svg path{
  stroke: var(--accent);
}

@media (max-width: 768px) {
  .swiper {
      width: 500px;
      height: 400px;     
      position: unset;    
  
  }
    .slider_nav-container{
      display: none;
    }
}
@media screen and (max-width: 480px){
  .stories_container{
    flex-direction: column;

  }
  .swiper {
      width:100%;
      height: 600px;
      
      padding-bottom: 50px;
      position: unset;
    }
  
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 70%;
      height: 100%;
      position: relative;
    }
}